/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .local-seccnt ul li {
        padding-right: 24px;
    }

    .idearow-main {
        grid-column-gap: 20px;
    }

    .idearow-item img {
        max-width: 80px;
    }

    .idearow-item h4 {
        font-size: 25px;
    }

    .idearow-item {
        padding: 30px 16px 35px;
    }

}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .commit-area {
        padding: 70px 0 86px;
    }
    .commit-bg .star1 {
        max-width: 35px;
        left: -20px;
        top: 0;
    }

    .commit-bg .star2 {
        max-width: 45px;
        right: -20px;
        bottom: 20px;
    }

    .state-right {
        margin-top: 35px;
    }

    .local-seccnt ul li {
        padding-right: 24px;
    }

    .local-title {
        padding-bottom: 54px;
    }

    .local-seccnt {
        padding-top: 30px;;
    }

    .local-sec,
    .local-part {
        padding-bottom: 60px;
    }
    
    .local-star img {
        visibility: hidden;
    }

    .idearow-main {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
    }

}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .commit-cnt h2::after {
        display: none;
    }

    .commit-bg .star1 {
        max-width: 35px;
        left: 90%;
        top: 0;
    }
    
    .commit-bg .star2 {
        display: none;
    }

    .commit-area {
        padding: 50px 0 80px;
    }

    .commit-cnt {
        padding: 0 5px;
    }

    .org-part {
        padding: 20px 20px 54px;
    }

    .state-right p {
        margin-top: 25px;
    }

    .org-title {
        margin-bottom: 30px;
    }

    .commission-part {
        padding: 40px 0;
    }

    .state-right {
        margin-top: 25px;
    } 

    .local-star img {
        display: none;
    }

    .local-part {
        padding: 20px 20px 20px;
    }

    .local-area {
        padding: 90px 0 55px;
    }

    .local-title {
        padding-bottom: 30px;
    }

    .local-seccnt {
        margin-top: 34px;
    }

    .local-seccnt ul li {
        display: block;
        margin-right: 0;
        padding-bottom: 12px;
    }

    .local-sec {
        padding-bottom: 20px;
    }

    .idearow-main {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .idearow-area {
        padding: 0px 0 25px;
    }

    .idearow-area .star-group {
        margin-right: 35px;
    }

}