/*=========
Fonts 
============*/
@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir-Heavy.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir-Black.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Clarendon;
    src: url(fonts/Clarendon-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Clarendon;
    src: url(fonts/Clarendon.otf);
    font-weight: 400;
}

@font-face {
    font-family: Clarendon;
    src: url(fonts/Clarendon-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Everygirl;
    src: url(fonts/Everygirl-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Everygirl-Script;
    src: url(fonts/Everygirl-Script.ttf);
    font-weight: 400;
}

body {	
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;    
	background: #fff;
	color: #191919;	
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

/* scrollto-top */
.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

/*-------------------
commit-area start 
 --------------------*/
.commit-area {
    padding: 100px 0;
}

.commit-bg {
    position: relative;
}

.commit-bg .star1 {
    max-width: 55px;
    position: absolute;
    left: 0;
    top: 0;
}

.commit-bg .star2 {
    max-width: 68px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.commit-cnt {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
}

.commit-cnt h2 {
    font-family: Clarendon;
    font-weight: normal;
    font-size: 44px;
    color: #874EA1;
    display: inline-block;
}

.commit-cnt h2 span {
    position: relative;
    display: inline-block;
}
.commit-cnt h2::after,
.commit-cnt h2 span::after {
    content: "";
    display: block;
    width: 100%;
    height: 13px;
    background-color:#FEE8BA;
    margin-top: -16px;
}

.commit-cnt p {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #4D4D4F;
    margin-top: 20px;
}

/*------------------- 
organize-area start 
----------------------*/
.org-part {
    background: #F9F9FA;
    border: 3px solid #874EA1;
    padding: 20px 50px 85px;
}

.org-title img {
    max-width: 306px;
    margin-top: -100px;
}

.org-title {
    margin-bottom: 60px;
}

.img-fluid {
    max-width: 100%;
}

.state-right h4 {
    font-weight: 900;
    font-size: 36px;
    color: #874EA1;
}

.state-right p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #4D4D4F;
    margin-top: 30px;
}

.commission-part {
    padding: 85px 0;
}

.commission-part a,
.continual-part a {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
    color: #D83FAF;
    display: inline-block;
    margin-top: 10px;
}

.commission-part a i,
.continual-part a i {
    font-size: 17px;;
    display: inline-block;
    margin-left: 10px;
}

.commission-part a:hover, .continual-part a:hover {
    opacity: 0.8;
}
      
.continual-part ul li {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #4D4D4F;
    position: relative;
    padding-left: 18px;
}

.continual-part ul li::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #4D4D4F;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 12px;
}

.continual-part ul {
    padding: 18px 0;
}

/*--------------------
 local-area start
--------------------- */
.local-area {
    padding: 60px 0 0px;
}

.local-part {
    background: #F9F9FA;
    border: 3px solid #D83FAF;
    padding: 20px 50px 76px;
}

.local-star img {
    max-width: 36px;
    margin-bottom: 16px;
}

.local-title img {
    max-width: 306px;
    margin-top: -90px;
}

.local-title {
    text-align: right;
    padding-bottom: 70px;
}

.local-secitem img {
    width: 100%;
}

.local-seccnt h2 {
    font-weight: 800;
    font-size: 36px;
    align-items: center;
    color: #D83FAF;
}

.local-seccnt p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #4D4D4F;
    margin: 30px 0;
}

.local-seccnt a {
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
    color: #D83FAF;
    transition: 0.2s all ease;
}

.local-seccnt a i {
    display: inline-block;
    font-size: 17px;
    margin-left: 7px;
}

.local-seccnt ul li {
    padding-right: 42px;
    display: inline-block;
}

.local-seccnt a:hover {
    opacity: 0.8;;
}

.local-sec {
    padding-bottom: 85px;
}

.local-item img {
    width: 100%;
}

.local-item {
    margin: 12px 0;
}

/* -------------------
idearow-area start
---------------------- */
.idearow-area {
    padding: 50px 0;
}

.idearow-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.idearow-item {
    background: #F2F2F3;
    padding: 38px 24px 45px;
    text-align: center;
}

.idearow-item img {
    max-width: 100px;
}

.idearow-item h4 {
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    color: #D83FAF;
    margin-top: 25px;
}

.idearow-item p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #4D4D4F;
    margin: 12px 0 24px;
}

.idearow-item a {
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
    color: #D83FAF;
}

.idearow-item a i {
    font-size: 16px;
    display: inline-block;
    margin-left: 7px;
}

.idearow-area .star-group {
    max-width: 68px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: 100px;
}

.idearow-area .star1 {
    max-width: 36px;
    margin-top: 35px;
    margin-left: 80px;
}



